rest-api-releases/deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "pat": {
      "type": "securestring",
      "metadata": {
        "description": "Azure DevOps PAT:  Personal Access Token"
      }
    },
    "organization": {
      "type": "string",
      "metadata": {
        "description": "Azure DevOps organization:  the top-level namespace"
      },
      "minLength": 1
    },
    "top-project": {
      "type": "string",
      "metadata": {
        "description": "Azure DevOps project:  the top-project to release and to wait for before deploying the second-project"
      },
      "minLength": 1
    },
    "second-project": {
      "type": "string",
      "metadata": {
        "description": "Azure DevOps project:  the second project to release once the top-project release is completed"
      },
      "minLength": 1
    },
    "top-project release definition ID": {
      "type": "int",
      "metadata": {
        "description": "Azure DevOps release definition ID of the top-project"
      }
    },
    "second-project release definition ID": {
      "type": "int",
      "metadata": {
        "description": "Azure DevOps release definition ID of the second-project"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "create-release",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{outputs('create-url')}",
                "headers": {
                  "Authorization": "Basic @{outputs('pat-base64')} "
                },
                "body": {
                  "artifacts": [],
                  "definitionId": "@triggerBody()?['releaseDefinitionId']",
                  "description": "@triggerBody()?['description']",
                  "isDraft": false,
                  "manualEnvironments": null,
                  "reason": "none"
                }
              },
              "runAfter": {
                "create-url": [
                  "Succeeded"
                ]
              }
            },
            "pat-base64": {
              "type": "Compose",
              "inputs": "@base64(concat(':', triggerBody()?['pat']))",
              "runAfter": {}
            },
            "create-url": {
              "type": "Compose",
              "inputs": "https://vsrm.dev.azure.com/@{triggerBody()?['pat']}/@{triggerBody()?['project']}/_apis/release/releases?api-version=5.0-preview.8",
              "runAfter": {
                "pat-base64": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "releaseId": "@body('parse-response')?['id']"
                }
              },
              "runAfter": {
                "parse-response": [
                  "Succeeded"
                ]
              }
            },
            "parse-response": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP')",
                "schema": {
                  "properties": {
                    "id": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pat": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "project": {
                      "type": "string"
                    },
                    "releaseDefinitionId": {
                      "type": "integer"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    },
    {
      "name": "create-release-orchestration",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', 'create-release')]"
      ],
      "tags": {
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "create-release": {
              "inputs": {
                "body": {
                  "description": "sadfasdff",
                  "organization": "asfd",
                  "pat": "asdf",
                  "project": "safd",
                  "releaseDefinitionId": 12
                },
                "host": {
                  "triggerName": "http-post-@{parameters('create-release-resource-id')}",
                  "workflow": {
                    "id": "[resourceId('Microsoft.Logic/workflows', 'create-release')]"
                  }
                }
              },
              "runAfter": {},
              "type": "Workflow"
            }
          },
          "parameters": {
            "create-release-resource-id": {
              "type": "string"
            }
          },
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {},
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "create-release-resource-id": {
            "value": "[resourceId('Microsoft.Logic/workflows', 'create-release')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "create-release-resource-id": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', 'create-release')]"
    }
  }
}