rest-api-releases/deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "pat": {
      "type": "securestring",
      "metadata": {
        "description": "Azure DevOps PAT:  Personal Access Token"
      }
    },
    "organization": {
      "type": "string",
      "metadata": {
        "description": "Azure DevOps organization:  the top-level namespace"
      },
      "minLength": 1
    },
    "top-project": {
      "type": "string",
      "metadata": {
        "description": "Azure DevOps project:  the top-project to release and to wait for before deploying the second-project"
      },
      "minLength": 1
    },
    "second-project": {
      "type": "string",
      "metadata": {
        "description": "Azure DevOps project:  the second project to release once the top-project release is completed"
      },
      "minLength": 1
    },
    "top-project release definition ID": {
      "type": "int",
      "metadata": {
        "description": "Azure DevOps release definition ID of the top-project"
      }
    },
    "second-project release definition ID": {
      "type": "int",
      "metadata": {
        "description": "Azure DevOps release definition ID of the second-project"
      }
    },
    "LogicApp_2Location": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "create-release",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{outputs('create-url')}",
                "headers": {
                  "Authorization": "Basic @{outputs('pat-base64')} "
                },
                "body": {
                  "artifacts": [],
                  "definitionId": "@triggerBody()?['releaseDefinitionId']",
                  "description": "@triggerBody()?['description']",
                  "isDraft": false,
                  "manualEnvironments": null,
                  "reason": "none"
                }
              },
              "runAfter": {
                "create-url": [
                  "Succeeded"
                ]
              }
            },
            "pat-base64": {
              "type": "Compose",
              "inputs": "@base64(concat(':', triggerBody()?['pat']))",
              "runAfter": {}
            },
            "create-url": {
              "type": "Compose",
              "inputs": "https://vsrm.dev.azure.com/@{triggerBody()?['organization']}/@{triggerBody()?['project']}/_apis/release/releases?api-version=5.0-preview.8",
              "runAfter": {
                "pat-base64": [
                  "Succeeded"
                ]
              }
            },
            "Response-Success": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "releaseId": "@body('parse-response')?['id']"
                }
              },
              "runAfter": {
                "parse-response": [
                  "Succeeded"
                ]
              }
            },
            "parse-response": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP')",
                "schema": {
                  "properties": {
                    "id": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            },
            "Response-Failure": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 500
              },
              "runAfter": {
                "HTTP": [
                  "Failed"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pat": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "project": {
                      "type": "string"
                    },
                    "releaseDefinitionId": {
                      "type": "integer"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    },
    {
      "name": "get-release-status",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{outputs('create-url')}",
                "headers": {
                  "Authorization": "Basic @{outputs('pat-base64')} "
                }
              },
              "runAfter": {
                "create-url": [
                  "Succeeded"
                ]
              }
            },
            "pat-base64": {
              "type": "Compose",
              "inputs": "@base64(concat(':', triggerBody()?['pat']))",
              "runAfter": {}
            },
            "create-url": {
              "type": "Compose",
              "inputs": "https://vsrm.dev.azure.com/@{triggerBody()?['organization']}/@{triggerBody()?['project']}/_apis/release/releases/@{triggerBody()?['releaseId']}?api-version=5.0-preview.8",
              "runAfter": {
                "pat-base64": [
                  "Succeeded"
                ]
              }
            },
            "Response-Success": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": "{\n  \"status\": \"@{body('parse-response')?['status']}\"\n}"
              },
              "runAfter": {
                "parse-response": [
                  "Succeeded"
                ]
              }
            },
            "parse-response": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            },
            "Response-Failure": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 500
              },
              "runAfter": {
                "HTTP": [
                  "Failed"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pat": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "project": {
                      "type": "string"
                    },
                    "releaseId": {
                      "type": "integer"
                    }
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    },
    {
      "name": "create-release-orchestration",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', 'create-release')]"
      ],
      "tags": {
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "create-release": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "triggerName": "http-post",
                  "workflow": {
                    "id": "[resourceId('Microsoft.Logic/workflows', 'create-release')]"
                  }
                },
                "body": {
                  "description": "Create top project release",
                  "organization": "@{parameters('organization')}",
                  "pat": "@{parameters('pat')}",
                  "project": "@{parameters('top-project')}",
                  "releaseDefinitionId": "@{parameters('top-project-releaseDefinitionId')}"
                }
              },
              "runAfter": {}
            },
            "grab-release-id": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('create-release')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "releaseId": {
                      "type": "integer"
                    }
                  }
                }
              },
              "runAfter": {
                "create-release": [
                  "Succeeded"
                ]
              }
            },
            "Until": {
              "type": "Until",
              "expression": "@equals(body('grab-status')?['status'], '\"active\"')",
              "limit": {
                "count": 120,
                "timeout": "PT1H"
              },
              "actions": {
                "get-release-status": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "triggerName": "http-post",
                      "workflow": {
                        "id": "[resourceId('Microsoft.Logic/workflows', 'get-release-status')]"
                      }
                    },
                    "body": {
                      "organization": "@{parameters('organization')}",
                      "pat": "@{parameters('pat')}",
                      "project": "@{parameters('top-project')}",
                      "releaseId": "@body('grab-release-id')?['releaseId']"
                    }
                  },
                  "runAfter": {
                    "Delay": [
                      "Succeeded"
                    ]
                  }
                },
                "grab-status": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('get-release-status')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "get-release-status": [
                      "Succeeded"
                    ]
                  }
                },
                "Delay": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 20,
                      "unit": "Second"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "grab-release-id": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "organization": {
              "type": "string"
            },
            "pat": {
              "type": "string"
            },
            "top-project": {
              "type": "string"
            },
            "top-project-releaseDefinitionId": {
              "type": "Int"
            }
          },
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {},
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "organization": {
            "value": "[parameters('organization')]"
          },
          "pat": {
            "value": "[parameters('pat')]"
          },
          "top-project": {
            "value": "[parameters('top-project')]"
          },
          "top-project-releaseDefinitionId": {
            "value": "[parameters('top-project release definition ID')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "create-release-resource-id": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', 'create-release')]"
    }
  }
}